<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Keeper</title>
</head>


<body>
<div class="container" align="center">
    <table width="400px" border="1">
        <tr>
            <td width="200px" align="center" id="title"><b>Book Title</b></td>
            <td width="200px" align="center"><b>Author</b></td>
            <td width="200px" align="center"><b>Pages</b></td>
            <td width="200px" align="center"><b>Rating</b></td>
        </tr>
        <tr>
            <td width="200px" align="center">{{title}}</td>
            <td width="200px" align="center">{{author}}</td>
            <td width="200px" align="center">{{page_count}}</td>
            <td width="200px" align="center">{{average_rating}}</td>
        </tr>
    </table>

    <br>
    <br>
    <h1>Find Book</h1>
    <form action="/search" method="post">
        <label for="book_isbn">ISBN of Book:</label><br>
        <input type="text" id="book_isbn" name="book_isbn" pattern="[0-9]{10-13}" title="only NUMBERS accepted" required><br>
        <input type="submit" value="Find Book">
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" align="center">
        <table width="400px" border="1">
        <tr>
            <td width="200px" align="center"><b>ID</b></td>
            <td width="200px" align="center"><b>Book Title</b></td>
            <td width="200px" align="center"><b>Author</b></td>
            <td width="200px" align="center"><b>Pages</b></td>
            <td width="200px" align="center"><b>Rating</b></td>
            <td width="200px" align="center"><b>ISBN</b></td>
        </tr>
        {% for info in books_info %}
        <tr>
            <td width="200px" align="center">{{info[0]}}</td>
            <td width="200px" align="center">{{info[1]}}</td>
            <td width="200px" align="center">{{info[2]}}</td>
            <td width="200px" align="center">{{info[3]}}</td>
            <td width="200px" align="center">{{info[4]}}</td>
            <td width="200px" align="center">{{info[5]}}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Add Book To Your Collection?</h1>
        <form action="/book_add" method="post">
            <label for="isbn">ISBN of Book:</label><br>
            <input type="text" id="isbn" name="isbn" pattern="[0-9]{10-13}" title="only NUMBERS accepted" required><br>
            <input type="submit" value="Add Book">
        </form>

        <form action="/delete_book" method="post"><br>
            <label for="delete">Delete a Record:</label><br>
            <input type="text" id="delete" name="row" pattern="[0-9]{1-6}" title="only NUMBERS accepted" required><br>
            <input type="submit" value="Delete Book">
        </form>
</div>

</div>
</body>
</html>

