<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Keeper</title>
</head>

<body>
<div class="container" align="center">
    <table width="400px" border="1">
        <tr>
            <td width="200px" align="center"><b>Book Title</b></td>
            <td width="200px" align="center"><b>Author</b></td>
            <td width="200px" align="center"><b>Pages</b></td>
            <td width="200px" align="center"><b>Rating</b></td>
            <td width="200px" align="center"><b>ISBN</b></td>
        </tr>
        {% for info in books_info %}
        <tr>
            <td width="200px" align="center">{{info[0]}}</td>
            <td width="200px" align="center">{{info[1]}}</td>
            <td width="200px" align="center">{{info[2]}}</td>
            <td width="200px" align="center">{{info[3]}}</td>
            <td width="200px" align="center">{{info[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h1>Find Book</h1>
    <form action="/search" method="post">
        <label for="isbn">ISBN of Book:</label><br>
        <input type="text" id="isbn" name="isbn" required><br>
        <input type="submit" value="Find Book">
    </form>
    <p>{% print(isbn) %}</p>

</div>
</body>
</html>